.independent__wrapper {
    width: 581px;
    margin-left: 44px;
    max-width: 100vw;
}

@media screen and (max-width: 1190px) {
    .independent__wrapper {
        margin-left: 334px;
    }
}

@media screen and (max-width: 768px) {
    .independent__wrapper {
        margin-left: 0;
        width: 100%;
    }
}