.promo__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

@media screen and (max-width: 768px) {
    .promo__content {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}