.karkas {
    background-image: url('../../images/karkas_backgr.png');
    position: relative;
    color: #FFFFFF;
    margin: 120px auto 200px;
}

@media screen and (max-width: 1190px) {
    .karkas {
        margin: 80px auto 600px;
    }
}

@media screen and (max-width: 768px) {
    .karkas {
        background-image: url('../../images/backgrmob.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 80px auto 200px;
        max-width: 100vw;
    }
}
