.karkas__text_feature {
    width: 65px;
    display: inline-block;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .karkas__text_feature {
        width: 205px;
    }
}

@media screen and (max-width: 768px) {
    .karkas__text_feature {
        margin-top: 0px;
    }
}
